{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}Cart{% endblock title %} 

{% block link %}
<link rel="stylesheet" href="{% static 'app/css/cart.css'%}" />
{% endblock link %} 
{% block main-content %}

<section id="kcontainer" class="section-p1">
  <h1>Shopping Cart</h1>

  <div class="m-box ">
    <div class="cart-sec ">
      <h3>Cart</h3>
      
      {% for item in cart%}
      <div class="pro-box">
        <img src="{{item.product.product_img.url}}" alt="" />
        <div class="details">
          <h4>{{item.product.title}}</h4>
          <p>
          {{item.product.description}}
            
          </p>

          <div style="display: flex;">
            <label for="quantity" >Quantity :</label>
            <button  style=" color: white; width: 30px; height: 30px; background-color: black;border-radius: 2px ; border: none; margin-left: 20px; outline: none;" class="decrease-btn" pid="{{ item.product.id }}" onclick="window.location.href=`{% url 'decrease_quantity' item.id%}`">-</button>

            <h5 id="p{{item.quantity}}"  style="padding: 0 10px;">{{item.quantity}}</h5>
            <button  style=" color: white; width: 30px; height: 30px; background-color: black; border-radius: 2px ; border: none; outline: none; margin-right: 20px;" class="increase-btn" pid="{{ item.product.id }}" onclick="window.location.href=`{% url 'increase_quantity' item.id%}`">+</button>
          </div>

          <div class="kfoot">
            <button class="normal" onclick="window.location.href=`{%url 'remove_cart_item' item.id %}`">Remove Item</button>
            <h4>Rs.{{item.product.discounted_price}}</h4>
          </div>
        </div>

        
      </div>
      {%endfor%}
  
      
    </div>

  <div class="amount-sec">
    <h3>The Total Amount of </h3>
    <div class="charge-box">
      <p>Amount</p>
      <p id="amount">Rs. {{amount}}</p>
    </div>
    <div class="charge-box">
      <p>Shipping</p>
      <p>Rs. {{shipping_amount}}</p>
    </div>

    <div class="total">
      <p >Total</p>
      <p id="total">Rs.{{total_amount}}</p>

    </div>

    <button class="normal" onclick="window.location.href=`{%url 'checkout'%}`">Place Order</button>
  </div>
  </div>
</section>
{% endblock main-content %}
