{% extends 'app/base.html' %}

{% load static%}

{% block title %}Category {% endblock title %}

{%block main-content%}
<section id="product1" class="section-p1">
    
    <h2>Top Footwears</h2>
    <p> Special Footwears for all season</p>

    
    <div class="pro-container">

        
      <div class="pro">
        <img src="{% static 'app/img/products/p3.jpg' %}" alt="" />
        <div class="des">
          <span>adidas</span>

          <h5>Cartoon Astronat T-shirt</h5>

          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
        </div>

        <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>

      
    </div>
  </section>

{%endblock main-content%}

