{% extends 'app/base.html' %}

{% load static%}
{% block link%}
<link rel="stylesheet" href="{% static 'app/css/category.css' %}" />

    {% endblock link%}
{% block title %}Category {% endblock title %}
{% block main-content %}
    
  <nav class="cat-box">
    <ul id="sub-cat-nav">
      <li><a href="{% url 'category_digital'%}">Digital</a></li>
      <li><a href="">Fashion</a></li>
      <li><a href="">New Arrivals</a></li>
      <li><a href="">Top Wears</a></li>
      <li><a href="">Bottom Wears</a></li>
    </ul>
  </nav>

  {% block category-sec%} {% endblock category-sec%}

    
  
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa-solid fa-long-arrow-alt-right"></i></a>
    </section>
    
    {% endblock main-content %}
