{% extends 'app/base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/cart.css'%}" />

{% endblock link%}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<section id="checkout" class="section-p1">
  <div class="tab-container">
    <div class="tab-nav">
      <button class="tab-button active" onclick="openTab(event, 'tab1')"> Order summary</button>
      <button class="tab-button" onclick="openTab(event, 'tab2')">Delivery</button>
      <button class="tab-button" onclick="openTab(event, 'tab3')">Payment</button>
    </div>
    
    <div id="tab1" class="tab-content active">
      <h2>Order Summary</h2>
      {% for item in cart%}
      <div class="product-container">
        <!-- Product image -->
        <img class="product-image" src="{{item.product.product_img.url}}" alt="Product Image">
        <!-- Product name -->
        <div class="product-name">{{item.product.title}}</div>
        <!-- Product price -->
        <div class="product-price">₹ {{item.product.discounted_price}}</div>
        <!-- Product quantity number -->
        <div class="product-quantity">quantity: {{item.quantity}} </div>
      </div>
      {%endfor%}
    </div>


    <div id="tab2" class="tab-content">
      <h2>Delivery Address</h2>
      
      <button class="normal" onclick="window.location.href=`{% url 'add_address' %}` "> Add new address</button>

      {% if address_added%}
      <h5>Select from below</h5>
      {%endif%}
      {% for address in address_added%}
      <div class="address-container">
        <h5>{{address.name}}</h5> 

        <div style="display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 210px;">
          <p>{{address.address}}</p>
          <p>{{address.pincode}}</p>
          <p>{{address.locality}}</p>
          <p>{{address.landmark}}</p>
          <p>{{address.state}}</p>
        </div>
        <p>{{address.mobile_number}}</p>
        <input type="radio" name="selected_address" id="" value="{{address.id}}">
      </div>
      {%endfor%}
    </div>
    <div id="tab3" class="tab-content">
      <h2>Content of Tab 3</h2>
      <p>This is the content of Tab 3.</p>
    </div>
  </div>


  <div class="order-price">
    <h3>Order Summary</h3>
    <div class="item">
      <span>Amount</span>
      <span>Rs.{{amount}}</span>
    </div>
    <div class="item">
      <span>Shipping Charge</span>
      <span>Rs.{{shipping_amount}}</span>
    </div>
    
    <div class="total">
      <span>Total:</span>
      <span>Rs. {{total}}</span>
    </div>
  </div>
</section>


{% endblock main-content %}
