{% extends 'app/base.html' %}
{% load static %}
{% block link%}
    <link rel="stylesheet" href="{%static 'app/css/login.css'%}">
{% endblock link%}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="lcontainer">
    <div class="box section-p1">

    <h2>Login</h2>

    <div class="col">
        <form method="post">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="username">
            <input type="password" placeholder="Password" name="password">

            {% if message%}
            <p style="color:red;">{{message}}</p>
            {%endif%}
            <a href="#">forgot password?</a>
            <button class="normal">Login</button>

            <div class="lfooter">
               
                <a href="{%url 'signup'%}">New to RedPandas? SignUp</a>
            </div>
            
        </form>
        
    </div>
</div>
</div>

{% endblock main-content %}