{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<section id="account" class="section-p1">

  <div class="account-nav">
    <h3>Welcome {{user.first_name}} {{user.last_name}}</h3>

    <ul>
      <li><a href="{% url 'account_info' %}">Profile</a></li>
      <li><a href="{% url 'address' %}">Address</a></li>
      <li><a href="">Orders</a></li>
      <li><a href="">Carts</a></li>
      <li><a href="{% url 'logout_view'%}">Logout</a></li>
    </ul>
  </div>

  <div class="account-right section-p1">
    {% block account-info %}
    <h4 style="margin:20px 0;">Personal Information</h4>
    
    <div>
    <input value="{{user.first_name}}" type="text" disabled>
    <input value="{{user.last_name}}" type="text" disabled>
    </div>

    <h4 style="margin:20px 0 ;">Email Address</h4>
    <input value="{{user.email}}" type="text" disabled>
    {% endblock account-info %}
  </div>

</section>
{% endblock main-content %}