{% extends 'app/base.html' %}


{% load static %}
{% block title %}Shop {% endblock title %}
{% block main-content %}
    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="{% static 'app/img/products/p3.jpg'%}" , width="100%" id="MainImg" alt="" />

        <div class="small-img-group">
          <div class="small-img-col">
            <img
              src="img/products/p3.jpg"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>

          <div class="small-img-col">
            <img
              src="img/products/p1.jpg"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>

          <div class="small-img-col">
            <img
              src="img/products/p6.jpg"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>

          <div class="small-img-col">
            <img
              src="img/products/p5.webp"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="single-pro-details">
        <h6>Home / T-Shirt</h6>
        <h4>Men's Fashion T-Shirt</h4>
        <h2>$139</h2>

        <select>
          <option>Select size</option>
          <option>XL</option>
          <option>XXL</option>
          <option>Small</option>
          <option>Large</option>
        </select>
        <input type="number" value="1" />
        <button class="normal">Add To Cart</button>
        <h4>Product Details</h4>
        <span
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero non
          omnis quae. Sunt quod repellendus accusantium debitis tempora
          reiciendis blanditiis ullam Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Velit odit perspiciatis eum quisquam et cumque ut,
          enim nemo sint laborum!f nesciunt rem possimus amet itaque, iusto
          dolorem voluptatum recusandae</span
        >
      </div>
    </section>

    <section id="product1" class="section-p1">
      <h2>Shop</h2>
      <p>Summer Collection New Modern Design</p>

      <div class="pro-container">
        <div class="pro">
          <img src="{% static 'app/img/products/p3.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p4.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p4.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p5.webp' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p6.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p3.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p1.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>

        <div class="pro">
          <img src="{% static 'app/img/products/p2.jpg' %}" alt="" />
          <div class="des">
            <span>adidas</span>

            <h5>Cartoon Astronat T-shirt</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-solid fa-long-arrow-alt-right"></i></a>
    </section>
   

    {% endblock main-content %}


