{% extends 'app/base.html' %}


{% load static %}
{% block title %}Shop {% endblock title %}
{% block main-content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">
<section class="section-p1" id="single-pro">
 <div class="equal-size" id="pro-img">
    <div class="side-box">
      <img src="{{product.product_img.url}}" alt="" width="70px">
      <img src="{{product.product_img.url}}" alt="" width="70px">
      <img src="{{product.product_img.url}}" alt="" width="70px">
      <img src="{{product.product_img.url}}" alt="" width="70px">
      <img src="{{product.product_img.url}}" alt="" width="70px">
    </div>

    <div id="before-div">
      <div id="active-img-box">

        <img src="{{product.product_img.url}}" alt=""  id="active-img">
      </div>

      
    </div>
 </div>
 <div class="equal-size" id="pro-det">
  <h3>{{product.title}}</h3>

  <div class="star">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </div>

  <div class="price">
    <h4>special price</h4>
    <p style="color: #000; font-size: 30px; font-weight: 800;" >₹ {{product.discounted_price}} <p style="text-decoration: line-through;color: grey; ">₹ {{product.selling_price}}</p></p>
  </div>
  <div class="detail">

    {% if request.user.is_authenticated %}
    <div id="button-b">
       {% if cart %}
       <button class="p-btn" style="  background-color: #388b86; " data-product-uid="{{product.id}}" onclick="window.location.href=`{%url 'show_my_cart'%}`"> GO TO CART</button>
        {%else %}
        <button  id="add-to-cart-btn"class="p-btn" style="  background-color: #388b86; " data-product-uid="{{product.id}}"> ADD TO CART</button>
        {%endif%}
        <button class="p-btn" style="  background-color: #055752;"> BUY NOW</button>
    </div>
    {%else%}
    <div id="button-b">
      
       <button onclick="window.location.href=`{%url 'signup'%}`" class="p-btn" style="  background-color: #388b86; " data-product-uid="{{product.id}}"> SIGN UP</button>
       <button onclick="window.location.href=`{%url 'login'%}`" class="p-btn" style="  background-color: #055752;"> SIGN IN</button>
   </div>
    {% endif%}
    <h4>Product Details</h4>
<p>{{product.description}}</p>


   </div>

 </div>
 
</section>

    <section id="product1" class="section-p1">
      <h2>Similar Items </h2>
      <p>offer closes soon!</p>

      <div class="pro-container">
        
        {% if all_products%}
        {%for item in all_products%}
        <div class="pro" onclick=window.location.href="{% url 'product-detail' item.id %}">
          <img src="{{item.product_img.url}}" alt="" />
          <div class="des">
            <span>{{item.brand}}</span>

            <h5>{{item.title}}</h5>

            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>{{item.discounted_price}}</h4>
          </div>

          <a href="#"> <i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        {%endfor%}
        {%endif%}
        
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-solid fa-long-arrow-alt-right"></i></a>
    </section>
   

    {% endblock main-content %}



