/* import font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* Reset All Defaults */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1.3px solid #039b5e;
}
html{
  
    -webkit-tap-highlight-color:transparent;
  
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.alert-success {
  width: 100%;
  padding: 7px 5px;
  background-color: #d1e8f2;
  color: #088178;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}
.alert-error {
  width: 100%;
  padding: 7px 0 7px 5px;
  background-color: #f2d1d1;
  color: #f43131;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100%;
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 39px;
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
}
h4 {
  font-size: 17;
  font-family: "Open Sans", sans-serif;
}
h5 {
  font-family: "Open Sans", sans-serif;
}
h6 {
  font-family: "Open Sans", sans-serif;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 0;
}
.normal {
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  background-color: #088178;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
p {
  font-size: 15;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
/* Header Section */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #a5c2bd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#mobile {
  display: none;
}
#close {
  display: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/*  Drop Down */
.dropdown-box {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #055752;
}
/* Home Page */
#hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
  font-weight: bold;
}

#hero button {
  cursor: pointer;
  margin: 10px 0;
  width: 160px;
  height: 36px;
  border-radius: 15px;
  background-color: #088178;
  color: #e3e6f3;
  border: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* Feature */

#feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 15px 15px;
  transition: 0.5s;
  margin: 15px 0px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
#feature .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin: 10px;
}

#feature .fe-box h6 {
  font-size: 16x;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* Product */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product1 .pro-container a {
  text-decoration: none;
  background-color: #055752;
}
#product1 .pro {
  width: 20%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  position: relative;
  transition: 0.3s ease;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 13px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(232, 210, 9);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #055752;
}
#product1 .pro .des img {
  width: 20px;
}
#product1 .pro .cart {
  color: #088178;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #d1e8f2;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/* Footer */

#footer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

#footer .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

#footer .logo {
  margin-bottom: 30px;
}

#footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
.img-install {
  width: 130px;
}
#footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
#footer a {
  font-size: 13px;
  color: #222;
  text-decoration: none;
  margin-bottom: 10px;
}

#footer .follow {
  margin-top: 20px;
}

#footer .follow {
  padding-right: 4px;
}

#footer .follow i {
  color: #465b52;
  padding-right: 8px;
  cursor: pointer;
}
#footer .follow i:hover,
#footer .col a:hover {
  color: #e1820d;
}
#footer .col a {
  color: #465b52;
  padding-right: 8px;
  font-family: "Open Sans", sans-serif;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* Shop Page */

#page-header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;

  padding: 14px;
  height: 40vh;

  background-size: cover;
  background-image: url("../img/banners/b1.jpg");
}

#page-header h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

#page-header p {
  font-size: 20px;

  font-family: "Open Sans", sans-serif;
  color: #fff;
}

#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */

#single-pro {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
#single-pro .equal-size {
  border-radius: 6px;
  border: 1px solid #dad8d8;
  background-color: white;
}

#pro-img {
  display: flex;
  flex-direction: row;
  width: 36%;
  height: 400px;
}
#pro-img .side-box {
  width: 100px;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#pro-img #before-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pro-img #active-img-box {
  margin: 4px;
  border: 1px solid #dad8d8;
  padding: 10px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
#button-b {
  margin-bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
}

#pro-img #active-img-box #active-img {
  width: 400px;
}
/* .buy-btn {
  color: white;

  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  border: none;
  width: 180px;
  cursor: pointer;
  height: 40px;
  margin-right: 3px;
} */

.p-btn {
  color: white;
  background-color: #2cb6d8;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  width: 190px;
  height: 50px;
  margin-top: 8px;
  margin-right: 3px;
}
#pro-det {
  width: 60%;
  max-height: 500px;
  height: 380px;

  padding: 10px 10px;
}
#pro-det .star {
  margin: 10px 0;
  color: rgb(255, 196, 0);
}
#pro-det .price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #pro-det  p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;

} */

#pro-det .detail {
  margin-top: 10px;
}

/*
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

.small-img-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  margin-right: 8px;
  flex-basis: 24%;
  cursor: pointer; 

} */

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
  font-size: 23px;
}

#prodetails .single-pro-details h2 {
  font-size: 25;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

/* Account Page */
#account {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#account .account-nav {
  display: flex;
  flex-direction: column;
  width: 18%;
  padding-right: 10px;
  border-right: 1px solid #dad8d8;
}
#account .account-nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#account .account-nav li {
  background-color: #87f4f4;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 10px;
}
.active_menu {
  background-color: #0862c8;
  width: 100%;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 10px;
}
#account .account-nav a {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: center;
}
#account .account-right {
  width: 60%;
  margin-left: 16px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dad8d8;
  align-self: flex-start;
  /* box-shadow: 1px 9px 12px -2px #6d6c6c; */
}

#account .account-right input {
  width: 300px;
  height: 40px;
  color: #000;
  font-size: 17px;

  padding: 3px;
  font-family: "Open Sans", sans-serif;
}
#account .account-right form div {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
select {
  width: 180px;
  height: 50px;
  margin-left: 4px;
  padding-left: 10px;
  font-size: 17px;
}
#account .account-right form div input {
  width: 48%;
  height: 40px;
  color: #000;
  font-size: 17px;
  padding-left: 3px;
  font-family: "Open Sans", sans-serif;
}
#account .account-right form textarea {
  height: 170px;
  width: 80%;
  color: #000;
  font-size: 17px;
  padding-left: 3px;
  margin-right: 6px;
  font-family: "Open Sans", sans-serif;
}

#account .address_box {
  margin: 10px;
  padding: 2px;
}

/*  Start Media Query */

@media (max-width: 1100px) {
  #hero {
    background-image: url("../img/hero.jpg");
  }
  #single-pro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pro-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 430px;
  }
  #pro-img .side-box {
    flex-direction: column;
    width: 150px;
    justify-content: space-around;
  }
  #pro-det {
    width: 100%;
    height: 400px;
    padding: 20px 10px;
  }

  /* Account  */
  #account {
    flex-direction: row;
  }
  #account .account-nav {
    flex-direction: column;
    /* border: none; */
    width: 120px;
  }
  #account .account-nav ul {
    flex-direction: column;
  }
  #account .account-nav ul li {
    width: 100px;
  }

  #account .account-right {
    width: 90%;
  }
  #account .account-right form textarea {
    width: 300px;
  }
}
@media (max-width: 799px) {
  #hero {
    background-image: url("../img/hero.avif");
  }
  .section-p1 {
    padding: 40px 40px;
  }

  #single-pro {
    background-color: white;
  }
  #pro-img #active-img-box #active-img {
    width: 300px;
  }
  #pro-img #active-img-box {
    width: 100%;
    border: none;
  }
  #pro-img {
    min-width: 400px;
    justify-content: center;
  }
  #pro-img .side-box {
  }
  #pro-det {
    width: 100%;
  }
  #single-pro .equal-size {
    border: none;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -310px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.5s;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #bar {
    margin-left: 10px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 10px;
    width: 55px;
  }

  #page-header h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
  }

  #page-header p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
  }
  #account .account-right form div input,
  .state-sel {
    width: 210px;
    font-size: 15px;
    margin-right: 4px;
  }
  h3 {
    font-size: 21px;
  }
}
@media (max-width: 672px) {
  #product1 .pro {
    margin: 4px;
    width: 40px;
  }

  #account {
    flex-direction: column;
    align-items: center;
  }
  #account .account-nav {
    width: 100%;
  }
  #account .account-nav ul {
    flex-direction: row;
  }
  #account .account-nav ul li {
    width: 73px;
    font-size: 14px;
    border-radius: 20px;
  }
  #account .account-right {
    margin: 0;
    width: 100%;
    margin-top: 20px;
    /* box-shadow: 2px 9px 21px -2px #6d6c6c; */
  }
}
@media (max-width: 477px) {
  #button-b {
    width: 100%;
    justify-content: space-between;
  }
  #account .account-right {
    width: 100%;
    box-shadow: none;
    border: none;
  }
  #account .account-right form textarea {
    min-width: 300px;
    font-size: 13px;
  }
  #account .account-right form div input,
  .state-sel {
    width: 180px;
    font-size: 13px;
    margin-right: 2px;
  }
  #account .account-nav ul li {
    width: 53px;
    font-size: 12px;
    border-radius: 10px;
  }
  #pro-img .side-box {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  #pro-img {
    flex-direction: column-reverse;
    width: 100%;
    height: 500px;
    justify-content: space-around;
  }

  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-around;
  }
  #feature .fe-box {
    width: 130px;
    margin: 0 0 15px 0;
  }

  #page-header h2 {
    font-size: 40px;

    font-family: "Poppins", sans-serif;
  }

  #page-header p {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
  }

  /* single product */

  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }
}
